PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

X11Forwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no

LogLevel VERBOSE
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
